* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.griglia-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
}

.griglia {
  width: 70%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aqua;
  border: 2px solid blue;
  border-radius: 4px;
}

.griglia-row {
  width: 100%;
  height: calc(100% / 6);
  background-color: green;
  border: 1px solid yellow;
}
